---
# Faulty pod for OpenShift Lightspeed troubleshooting demo
# The nodeSelector has a typo: "wrker" instead of "worker"
# This causes the pod to stay Pending - perfect for Lightspeed to diagnose
apiVersion: v1
kind: Pod
metadata:
  name: broken-pod
  namespace: {{ ocp4_days_workload_ols_demo_namespace }}
spec:
  containers:
    - name: broken-container
      image: quay.io/sclorg/httpd-24-micro-c9s
      imagePullPolicy: IfNotPresent
      ports:
        - containerPort: 8080
          protocol: TCP
      resources: {}
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        runAsNonRoot: true
  nodeSelector:
    # Intentional typo: "wrker" instead of "worker"
    # This causes the pod to remain Pending
    node-role.kubernetes.io/wrker: ""
  restartPolicy: Always
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  serviceAccountName: default
  terminationGracePeriodSeconds: 30
