---
- name: Setting up workload for user
  debug:
    msg: "Setting up workload for user ocp_username = {{ ocp_username }}"

- when: set_aws_acm_secret | default(false) | bool
  block:
    - name: Create OpenShift objects for workload
      k8s:
        state: present
        definition: "{{ lookup('template', './templates/aws_secret.j2' ) | from_yaml }}"

- when: set_azr_acm_secret | default(false) | bool
  block:
    - name: Create OpenShift objects for workload
      k8s:
        state: present
        definition: "{{ lookup('template', './templates/azure_secret.j2' ) | from_yaml }}"

- when: ocp4_workload_rhacm_cloud_credentials_kubevirt | default(false) | bool
  vars:
    ocp4_workload_rhacm_cloud_credentials_kubevirt_pubkey: ""
  block:
    - name: Create OpenShift objects for workload - KubeVirt
      kubernetes.core.k8s:
        state: present
        definition: "{{ lookup('template', './templates/kubevirt_ns_and_secret.yaml.j2' ) | from_yaml_all }}"

- name: Install HCP CLI
  when: ocp4_workload_rhacm_cloud_credentials_install_hcp_cli | default(false) | bool
  ansible.builtin.include_tasks:
    file: install_hcp_cli.yaml

- name: workload tasks complete
  debug:
    msg: "Workload Tasks completed successfully."
  when: not silent | bool
