---
apiVersion: quay.redhat.com/v1
kind: QuayRegistry
metadata:
  name: "{{ ocp4_workload_quay_operator_registry_name }}"
  namespace: "{{ ocp4_workload_quay_operator_registry_namespace }}"
spec:
  configBundleSecret: config-bundle
  components:
  - kind: postgres
    managed: true
  - kind: objectstorage
    managed: true
  - kind: redis
    managed: true
  - kind: tls
    managed: true
  - kind: route
    managed: true
  - kind: quay
    managed: true
{% if ocp4_workload_quay_operator_registry_quay_resources_update | default(false) | bool or ocp4_workload_quay_operator_registry_quay_replicas | default(2) | int != 2 %}
    overrides:
{% if ocp4_workload_quay_operator_registry_quay_replicas | default(2) | int != 2 %}
      replicas: {{ ocp4_workload_quay_operator_registry_quay_replicas }}
{% endif %}
{% if ocp4_workload_quay_operator_registry_quay_resources_update | default(false) | bool %}
      resources:
        requests:
          cpu: {{ ocp4_workload_quay_operator_registry_quay_requests_cpu }}
          memory: {{ ocp4_workload_quay_operator_registry_quay_requests_memory }}
        limits:
          cpu: '{{ ocp4_workload_quay_operator_registry_quay_limits_cpu }}'
          memory: {{ ocp4_workload_quay_operator_registry_quay_limits_memory }}
{% endif %}
{% endif %}
  - kind: clair
    managed: {{ ocp4_workload_quay_operator_registry_enable_clair }}
{% if ocp4_workload_quay_operator_registry_enable_clair | bool %}
    overrides:
{% if ocp4_workload_quay_operator_registry_clair_replicas | default(1) | int != 1 %}
      replicas: {{ ocp4_workload_quay_operator_registry_clair_replicas }}
{% endif %}
      volumeSize: {{ ocp4_workload_quay_operator_registry_clair_volume_size }}
{% if ocp4_workload_quay_operator_registry_clair_resources_update | default(false) | bool %}
      resources:
        requests:
          cpu: {{ ocp4_workload_quay_operator_registry_clair_requests_cpu }}
          memory: {{ ocp4_workload_quay_operator_registry_clair_requests_memory }}
        limits:
          cpu: '{{ ocp4_workload_quay_operator_registry_clair_limits_cpu }}'
          memory: {{ ocp4_workload_quay_operator_registry_clair_limits_memory }}
{% endif %}
{% endif %}
  - kind: clairpostgres
    managed: true
  - kind: horizontalpodautoscaler
    managed: {{ ocp4_workload_quay_operator_registry_enable_hpa }}
  - kind: mirror
    managed: {{ ocp4_workload_quay_operator_registry_enable_mirror }}
  - kind: monitoring
    managed: {{ ocp4_workload_quay_operator_registry_enable_monitoring }}
