---
# DAYS version: Install OpenShift Lightspeed operator + Azure credentials
# Skips OLSConfig creation - users will create it manually in workshop

- name: Setting up OpenShift Lightspeed
  debug:
    msg: "Installing OpenShift Lightspeed Operator with Azure credentials (OLSConfig will be created manually)"

# Create the operator namespace
- name: Create OpenShift Lightspeed namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ ocp4_days_workload_ols_namespace }}"

# Install the OLS Operator
- name: Install OpenShift Lightspeed Operator
  ansible.builtin.include_role:
    name: install_operator
  vars:
    install_operator_action: install
    install_operator_name: lightspeed-operator
    install_operator_namespace: "{{ ocp4_days_workload_ols_namespace }}"
    install_operator_manage_namespaces:
      - "{{ ocp4_days_workload_ols_namespace }}"
    install_operator_channel: "{{ ocp4_days_workload_ols_channel }}"
    install_operator_catalog: "{{ ocp4_days_workload_ols_catalogsource_name }}"
    install_operator_automatic_install_plan_approval: "{{ ocp4_days_workload_ols_automatic_install_plan_approval }}"
    install_operator_csv_nameprefix: "{{ ocp4_days_workload_ols_csv_nameprefix }}"
    install_operator_starting_csv: "{{ ocp4_days_workload_ols_starting_csv }}"
    install_operator_catalogsource_setup: "{{ ocp4_days_workload_ols_use_catalog_snapshot }}"
    install_operator_catalogsource_name: "{{ ocp4_days_workload_ols_catalogsource_name }}"
    install_operator_catalogsource_namespace: openshift-marketplace
    install_operator_catalogsource_image: "{{ ocp4_days_workload_ols_catalog_snapshot_image }}"
    install_operator_catalogsource_image_tag: "{{ ocp4_days_workload_ols_catalog_snapshot_image_tag }}"

# Wait for operator deployment to be ready
- name: Wait for OpenShift Lightspeed operator to be ready
  kubernetes.core.k8s_info:
    api_version: apps/v1
    kind: Deployment
    namespace: "{{ ocp4_days_workload_ols_namespace }}"
    label_selectors:
      - app.kubernetes.io/part-of=lightspeed-operator
  register: r_ols_operator
  until:
    - r_ols_operator.resources | length > 0
    - r_ols_operator.resources[0].status.readyReplicas is defined
    - r_ols_operator.resources[0].status.readyReplicas | int >= 1
  retries: 30
  delay: 10

# --------------------------------
# Azure AD App Registration
# --------------------------------

- name: Azure AD App Registration and Credentials Setup
  when: not ocp4_days_workload_ols_skip_azure_setup | default(false) | bool
  block:
    # Uses existing vault variables from #include /includes/secrets/ocp4_workload_ols_api_token.yaml
    - name: Get Token for Master App
      uri:
        url: "https://login.microsoftonline.com/{{ ocp4_workload_ols_azure_tenant_id }}/oauth2/v2.0/token"
        method: POST
        headers:
          Content-Type: "application/x-www-form-urlencoded"
        body: "grant_type=client_credentials&client_id={{ ocp4_workload_ols_main_client_id }}&client_secret={{ ocp4_workload_ols_main_client_secret }}&scope=https://graph.microsoft.com/.default"
        return_content: true
        status_code: 200
      register: master_token_response

    - name: Set Main Access Token
      set_fact:
        _master_access_token: "{{ master_token_response.json.access_token }}"

    - name: Create Child App Registration
      uri:
        url: "https://graph.microsoft.com/v1.0/applications"
        method: POST
        headers:
          Authorization: "Bearer {{ _master_access_token }}"
          Content-Type: "application/json"
        body:
          displayName: "{{ ocp4_days_workload_ols_child_app_display_name }}-{{ guid }}"
          passwordCredentials:
            - displayName: "ChildAppRegistrationSecret"
        body_format: json
        return_content: true
        status_code: 201
      register: child_app_response

    - name: Set Child App ID and Secret
      set_fact:
        _child_app_id: "{{ child_app_response.json.appId }}"
        _child_client_secret: "{{ child_app_response.json.passwordCredentials[0].secretText }}"

    - name: Pause for Azure AD propagation
      pause:
        seconds: 30

    - name: Create Service Principal for Child App
      uri:
        url: "https://graph.microsoft.com/v1.0/servicePrincipals"
        method: POST
        headers:
          Authorization: "Bearer {{ _master_access_token }}"
          Content-Type: "application/json"
        body:
          appId: "{{ _child_app_id | string }}"
        body_format: json
        return_content: true
        status_code: 201
      register: service_principal_response

    - name: Pause for Azure AD propagation
      pause:
        seconds: 30

    - name: Set Child Service Principal Object ID
      set_fact:
        _child_service_principal_object_id: "{{ service_principal_response.json.id }}"

    - name: Add Child App to Azure AD Group
      uri:
        url: "https://graph.microsoft.com/v1.0/groups/{{ ocp4_workload_ols_azure_group_id }}/members/$ref"
        method: POST
        headers:
          Authorization: "Bearer {{ _master_access_token }}"
          Content-Type: "application/json"
        body:
          "@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/{{ _child_service_principal_object_id }}"
        body_format: json
        return_content: true
        status_code: [201, 204]

    - name: Pause for Azure AD propagation
      pause:
        seconds: 30

    # Create the azure-api-keys secret (used by OLSConfig)
    - name: Create Azure API Keys Secret
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Secret
          metadata:
            name: azure-api-keys
            namespace: "{{ ocp4_days_workload_ols_namespace }}"
            annotations:
              ols.openshift.io/watcher: cluster
          type: Opaque
          stringData:
            client_id: "{{ _child_app_id }}"
            client_secret: "{{ _child_client_secret }}"
            tenant_id: "{{ ocp4_workload_ols_azure_tenant_id }}"

    # NOTE: OLSConfig is NOT created here - users will create it in the workshop

# --------------------------------
# Demo Resources
# --------------------------------

- name: Deploy demo resources for Lightspeed workshop
  when: ocp4_days_workload_ols_deploy_demo_pod | bool
  block:
    - name: Create demo namespace
      kubernetes.core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: "{{ ocp4_days_workload_ols_demo_namespace }}"

    - name: Deploy faulty pod for troubleshooting demo
      kubernetes.core.k8s:
        state: present
        definition: "{{ lookup('template', 'faulty_pod.yml.j2') }}"

# --------------------------------
# Completion
# --------------------------------

- name: Print completion message
  debug:
    msg: |
      OpenShift Lightspeed Operator installed successfully.
      Azure API credentials secret created: azure-api-keys

      NOTE: OLSConfig was NOT created.
      Workshop users will create it manually using copy/paste YAML.

      Demo pod deployed to namespace: {{ ocp4_days_workload_ols_demo_namespace }}
  when: not silent | bool

- name: Workload tasks complete
  debug:
    msg: "OpenShift Lightspeed deployment complete (OLSConfig to be created by users)"
  when: not silent | bool
